html, body {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    padding: 0;
    margin: 0;
    color: teal;
    background-color: black;

}

#app {
     width: 95%;
     margin: 2rem auto;
     background-color: black;
}

.title {
    background-color: black;
    color: teal;
    text-align: center;
    padding: 24px;
    font-size: 42px;
    border-bottom: 2px solid teal;
    font-style: bold;
}

.selected {
    background: rgb(2, 216, 216);
    color: black;
    border-radius: 5px;
}

.selectable {
    cursor: pointer;
    padding: .5rem;
}

.books {
    margin: 0 2rem 0 0;
    width: 30rem;
}

.category {
    position: relative;
    margin: 0 2rem 0 0;
    width: 15rem;
}

.description {
    width: auto;
}

.cellButton {
    position: absolute;
    right: 8px;
}

