html, body {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    padding: 0;
    margin: 0;
}

#app {
     width: 80%;
     margin: 2rem auto;

}

.selected {
    background: #eee;
}

.selectable {
    cursor: pointer;
}

.books {
    margin: 0 2rem 0 0;
    width: 30rem;
}

.category {
    margin: 0 2rem 0 0;
    width: 15rem;
}

.description {
    width: auto;
}

.cart {

}